.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(238 232 232);
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  gap: 100px;
  text-shadow: #f0f0f0 1px 0 10px;
  font-family: $primary-font !important;
  font-size: 20px;
  font-weight: 700;
  @media (max-width: 992px) {
    font-size: 15px;
  }
  h1 {
    color: black;
    width: auto;
  }
  form {
    border-radius: 30px;
    background-color: #dcb9b9;
    padding: 50px;
    @media (max-width: 992px) {
      padding: 20px;
    }
    input[type="text"],
    textarea,
    input[type="email"] {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      margin-right: 0px;
      margin-left: 0px;
      border-radius: 30px;
      @media (max-width: 992px) {
        padding: 8px;
        margin: 0;
      }
    }
    label {
      margin-right: 0px;
      margin-left: 0px;
      width: 100%;
    }

    .btn-primary {
      background-color: $primary-backround-color !important;
      color: black;
      padding: 12px 20px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
    }

    .btn-primary:hover {
      background-color: $navbar-color !important;
    }
    .col-sm-10 {
      width: 100%;
    }
  }
}
