.skills-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 40px;
  padding: 100px;
  align-items: center;
  justify-content: center;
  background-color: rgb(238 232 232);
  img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    transition: all ease-in-out;
  }
  img:hover {
    rotate: y 90deg;
  }
}
