.navbar {
  font-family: $primary-font;
  background-color: $primary-backround-color !important;
  padding: 50px 50px !important;
}
.container-fluid {
  align-items: center;
  border: solid;
  border-color: #fff;
  border-radius: 30px;
  border-width: 3px;
  box-shadow: 1px 1px 10px 10px #e2e2e74f;
  background-color: #dcb9b9;
  display: flex;
  flex-direction: row;
  height: 5rem;
  justify-content: center;
  text-shadow: #f0f0f0 1px 0 10px;
  width: auto !important;
  padding: 0 20px 0 20px;
  margin-bottom: 10px !important;
  @media (max-width: 992px) {
    width: auto;
    height: auto;
    padding: 10px !important;
    justify-content: space-between;
    gap: 50px;
  }
}
.nav-color {
  background-color: $navbar-color;
}
.navbar-brand {
  font-weight: 800 !important;
  max-width: 17.25rem;
  padding: 0 !important;
}
.navbar .logo {
  font-family: $primary-font;
  margin: 2.1875rem !important;
  font-size: 2.1875rem !important;
  padding-bottom: 10px !important;
  @media (max-width: 992px) {
    margin: 0.1875rem !important;
    font-size: 1rem !important;
  }
}
ul {
  margin-right: 2.1875rem;
}
.navbar-toggler {
  margin-right: 2.1875rem;
  @media (max-width: 992px) {
    margin-right: 0px;
  }
}
.navbar-nav > li > a {
  border-top: 0.1875rem solid $navbar-color;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: $primary-font-color;
  font-weight: 600;
  font-size: 1.25rem;
}
.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  text-shadow: #f0f0f0 2px 4px 4px;
}
.navbar-nav > li > a:hover {
  font-weight: 800;
}
.navbar-collapse {
  background-color: #dcb9b9;
}
