@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
// variables
$primary-font-color: black;
$secondary-font-color: #442138;
$navbar-color: #dcb9b9;
$primary-backround-color: rgb(238 232 232);
$small-screen: 768px;
$primary-font: Platypi;
// mixin
@mixin respond-to($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@import "./components/header.scss";
@import "./pages/projects.scss";
@import "./components/footer.scss";
@import "./pages/home.scss";
@import "./pages/skills.scss";
@import "./pages/contact.scss";
html {
  font-family: $primary-font;
}
a {
  text-decoration: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
